<mat-toolbar>
  <div class="feature-row">
    <button>Features</button>
    <button>Documentation</button>
    <button>Pricing</button>
  </div>
  <button mat-raised-button>Hello World</button>
  <button style="background-color: orange; ">Hello World.</button>
</mat-toolbar>


    <div class="question-container">
      <div class="question-content-container">
        <mat-form-field>
          <input matInput> 
        </mat-form-field>
        <div #questionContainer></div>
      </div>

      <div class="action-container mat-elevation-z1">
        <button
          mat-icon-button
          (click)="addQuestionComponent()"
          matTooltipPosition="right"
          matTooltip="Add a question"
        >
          <mat-icon>add_circle_outline</mat-icon>
        </button>
        <button mat-icon-button (click)="addQuestionComponent()">
          <mat-icon
            class="material-icons-outlined"
            matTooltip="Add a webhook link"
            matTooltipPosition="right"
            >add_link</mat-icon
          >
        </button>
        <button mat-icon-button (click)="onSubmit()">
          <mat-icon
            class="material-icons-outlined"
            matTooltip="Publish Form"
            matTooltipPosition="right"
          >
            publish</mat-icon
          >
        </button>
        <button mat-icon-button (click)="addQuestionComponent()">
          <mat-icon
            class="material-icons-outlined"
            matTooltip="Send Form"
            matTooltipPosition="right"
            >send</mat-icon
          >
        </button>
        <button mat-icon-button (click)="addQuestionComponent()">
          <mat-icon
            class="material-icons-outlined"
            matTooltip="Share link"
            matTooltipPosition="right"
            >share</mat-icon>
        </button>
      </div>
    </div>

  