.example-spacer {
  flex: 1 1 auto;
}

.question-container {
    display: flex;
    margin-top: 84px;
    justify-content: space-around;
    margin-right: 16px;
    
}
.action-container {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  top: 32px;
  max-height: 220px;
  justify-content: center;
  align-items: center;
  right: 32px;
  border-radius: 4px;
  width: 48px;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

button {
  margin: 0 4px;
}

.question-content-container {
  max-height: 480px;
  overflow: scroll;
  padding: 4px;
  width: 100%;
  max-width: 780px;

}


mat-card {
  margin: 12px 0;
}


.question-card {
  width: 700px;

}
.stepper {
  max-width: 960px;
}

:host {
  display: flex;
  justify-content: center;;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
