
<div *ngFor="let options of optionsFormArray.controls; let i = index;">
  
    <ng-container [formGroup]="getOption(options)">
        <div>
            
          <mat-form-field>
              <input matInput placeholder="Option Title" formControlName="title" (focus)="onFocus($event)" (blur)="onBlur($event, i)"/>
            </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Option Value" formControlName="value" (focus)="onFocus($event)" (blur)="onBlur($event, i)" [errorStateMatcher]="matcher"/>
            <mat-error >No duplicate option values</mat-error>
          </mat-form-field>

          <button mat-icon-button (click)="removeAt(i)" type="button"><mat-icon>close</mat-icon></button>
        </div>
    </ng-container>


      
</div>

<button mat-button color="primary" type="button" (click)="addOption()">Add Another Option</button>

