
.icon-btn {
    background-color: none;
    border-radius: 50%;
    box-shadow: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:hover {
        cursor: pointer;
        background-color: #F3F3F3;
    }
}


.btn {
   
    border-style: none;
    box-shadow: none;
    font-weight: 500;
    background-color: transparent;
    font-size: 1rem;
    appearance: none;
    &:active {
        color: #000;
    }
    &.large {
        padding: 14px 32px;
    }
    &.outlined {
        border-radius: 8px;
        padding: 12px 24px;
        border-radius: 8px;
        border: 1px solid #3454D1;
        background-color: transparent;
        color: black;
        &:active {
            color: black;
        }
    }
    &.primary {
        padding: 12px 24px;
        border-radius: 8px;
        background-color: #3454D1;
        color: white;
        
        
    }

    &.accent {
        padding: 12px 24px;
        border-radius: 8px;
        background-color: #F9F5E3;
        &:active {
            color: #000;
        }
        
    }

    &.link {
        font-size: 1rem;
        font-weight: 500;
        padding: 12px 24px;
        border-radius: 8px;
        border-radius: 0px;
        padding: 8px;
        cursor: pointer;
        line-height: 18.75px;
        
        background-color: transparent;
        &:active {
            color: #000;
        }
    }
    
}


.call-to--action {
    width: 100%;
    max-width: 206px;
}