

<form [formGroup]="formGroup" class="center-form">
  <h3 class="subheading-1">Create your Hookform Account.</h3>
  <p class="subheading-2">
    Sign Up to Hookform to start collecting data via webhoooks.
  </p>


  <hfx-form-field label="Email">
    <input
      hfxInput
      placeholder="johndoe@hookforms.com"
      type="email"
      formControlName="email"
     
    />
    <hfx-hint>Enter your email address.</hfx-hint>
    <hfx-error *ngIf="!emailControl?.errors">Incorrect email format.</hfx-error>
    <hfx-error *ngIf="emailControl?.errors">{{emailControl?.errors?.message}}</hfx-error>


  </hfx-form-field>



  <hfx-form-field label="Password">
    <input hfxInput placeholder="random@password" type="password" formControlName="password"/>
    <hfx-hint>Enter your password.</hfx-hint>
    <hfx-error>Should be 8 characters long</hfx-error>

  </hfx-form-field>





  <button class="btn primary call-to--action" (click)="signUp()">Sign Up</button>
</form>

