<div class="toolbar">
  <div class="feature-row">
    <button class="link">Features</button>
    <button class="link"> Documentation</button>
    <button class="link">Pricing</button>
  </div>
  <div class="flex"></div>
  <div class="button-container">
    <button class="accent">Login</button><button class="primary">Sign Up</button>

  </div>
</div>


<div class="call-to-action--container">
    <h3>A Developer Friendly Form Builder</h3>
    <h4 class="subheading">Automate your data analysis.</h4>
    <div id="landing-page-image">

    </div>
</div>