.flex {
  display: flex;
  flex: 1 1 auto;
  flex-grow: 1;
}

.feature-row {
  display: flex;
  padding-left: 104px;
}

.button-container {
  padding-right: 104px;
}

.call-to-action {
  &--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 128px;
    margin-bottom: 128px;
  }

}

#landing-page-image {
  background: url("/assets/landing-page-image.png");
  width: 100%;
  padding-top: 45%;
  background-size: contain;
  position: relative;
  background-position: center top;
  margin-bottom: 48px;
  background-repeat: no-repeat;
}

#login {
    margin-right: 12px;
}

.card {
  border-radius: 8px;
  width: 100%;
  max-width: 320px;
  height: 100%;
  padding: 10px 16px;
  margin: 16px;
  max-height: 202px;
}

.feature-container {
  height: 300px;
  display: flex;
  justify-content: center;
  row-gap: 32px;
}
