<div class="toolbar">
  <div class="feature-row">
    <button class="link">Features</button>
    <button class="link"> Documentation</button>
    <button class="link">Pricing</button>
  </div>
  <div class="flex"></div>
  <div class="button-container">
    <button class="btn accent" id="login" [routerLink]="['login']">Login</button><button class="btn primary" [routerLink]="['signup']">Sign Up</button>

  </div>
</div>


<div class="call-to-action--container">
    <h3>A Developer Friendly Form Builder</h3>
    <h4 class="subheading">Automate your data analysis.</h4>
    <div id="landing-page-image">

    </div>
    <button class="outlined large">Get Started</button>
</div>

<div class="feature-container">
    <div class="card outlined">
        <div class="subtitle">Streamline data capture by using webhooks.</div>
        <p class="body-2">Integrate your form responses into your code for easier analysis.</p>
    </div>
    <div class="card outlined">
        <div class="subtitle">Pull data in multiple different formats.</div>
        <p class="body-2">Pull your form data as either json, xml or csv.</p>
    </div>
    <div class="card outlined">
        <div class="subtitle">Embed Customizeable Graphs and Tables.</div>
        <p class="body-2">Embed charts, graphs and tables with a customizeable color scheme.</p>
    </div>
</div>