<div class="hfx-toolbar">
    <div class="toolbar-row">
        <nb-icon icon="settings-outline"></nb-icon>
        <button hfx-button  (click)="fileInput.click()" >
            <nb-icon icon="code-outline" hfxIcon></nb-icon>
            Import Form


        </button>

        <div class="avatar-container">
            P
        </div>
    </div>
  
</div>


<ng-container *ngIf="$formsArray | async as forms" class="subheading-1">

    <div class="form-container">
        <div class="side-margin" style="width: 110px;"></div>
        <div *ngIf="forms?.data?.length > 0; else noForms" style="width: 100%;">
        
            <form-list *ngFor="let form of forms?.data" [form]="form"></form-list>
        </div>
    </div>
  

    <ng-template #noForms>
        <div >
        You don't have any forms yet.
        </div>
    </ng-template>

</ng-container>



<input #fileInput type="file" (change)="onReadFile($event)"  style="display:none;" accept=".json"/>
