:host {
  height: 100%;
}


.form-selector {
  width: 48px;
  height: 72px;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;
  width: 48px;
  height: 48px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}


.toolbar-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.toolbar-row > * {
  margin-right: 16px;

}
.accent {
  font-size: 0.8rem;
  padding: 8px 16px;
}
.mat-raised-button {
    padding: 4px 20px;
    font-size: 16px;
    border-radius: 2px;

}

#settings {
  background-color: #6D6D6D;
}

mat-sidenav {
  width: 230px;
  padding-top: 24px;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content {
  width: 100%;
  margin-left: 240px;
  display: flex;
  
}

.nav-divider {
    margin-top: 16px;
    width: 100%;
    
}

.action-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;

}
.description-container {
  display: flex;
  flex-direction: row;
}

.sidenav-content-container {
  width: 720px;
  height: 500px;
  margin-right: 240px;
  border-radius: 4px;
  
}

div.mat-subheading-1 {
    margin: 0 0  8px
}
div.mat-caption {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
}
span.mat-caption {
    color: rgba(0, 0, 0, 0.54);
}

.dashboard-container {
  max-width: 650px;
}

.form-card {
  height: 220px;
  border-radius: 8px;
  padding: 0;


}

.hfx-toolbar {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-right: 8px;
  align-items: center;
  justify-content: flex-end;
  height: 72px;
}

.form-title {
  background-color:rgba(0, 0, 0, 0.2);
  height: 180px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 16px;
  
  border-radius: 12px 12px 0 0;
}

:host {
  display: flex;
  flex-direction: column;

  
  align-items: center;
}


.display-grid {
  display: grid;
  column-gap: 12px;
  margin-top: 16px;
  row-gap: 8px;
 
  grid-template-columns: 270px 270px 270px;
  margin-top: 84px;

}

mat-card {
  height: 270px;

}


mat-toolbar {
  z-index: 2;
  position: fixed;
}
.title-card {
  padding: 20px 16px 10px;
  text-transform: capitalize;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
  height: 70%;

}

.subheading-2 {
  font-size: 1.6rem;
  line-height: 2rem;
}

.mat-caption {
  color:rgba(0, 0, 0, 0.6);
  font-weight: 500;
  
}



.more-button {
  font-size: 1rem;
}

p {
  margin-bottom: 0;
}